.hidden {
  display: none;
}

.block {
  display: block;
}

.myappointmentError {
  margin-left: 16rem;
  margin-top: 10rem;
}

.text {
  text-decoration: none;
}

.hide {
  display: none;
}

.hamburger {
  margin: 1px;
  display: block;
  position: absolute;
  z-index: 3;
}

@media only screen and (max-width: 632px) {
  .hide {
    display: block;
  }

  .show {
    display: block;
  }
}
